body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    margin: 4%;
}

.calendar-container {
    width: 80%;
    max-width: 80%;
    text-align: center;
}

.month-year {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 10px;
    float: right;
}

.month-year.fadeIn {
    animation: fadeIn 1.5s ease-out forwards;
}

.move-months-years {
    font-size: 40px;
    font-weight: 900;
    user-select: none;
    float: left;
    cursor: pointer;
    padding: 5px 44px 10px;
}

.move-months-years:hover {
    background: #fef6db;
    border-radius: 15px;
}

.navigation {
    margin: 10px 0;
}

#calendar {
    width: 100%;
    font-size: 22px;
    border-collapse: collapse;
}

#calendar th,
#calendar td {
    width: 14%;
    padding: 25px;
    border: 5px solid aliceblue;
    text-align: center;
}

/* #calendar th {
    
} */

#calendar td {
    user-select: none;
    cursor: pointer;
    border-radius: 20px;
    animation: fadeIn 0.5s ease-out forwards;
}

#calendar td.booked {
    font-weight: 900;
    background-color: #ff6c69;
}

#calendar td.today {
    font-weight: 900;
    background-color: #3cff66;
    border-radius: 45px;
}

#calendar td.today.booked{
    background-color: #fa98fb;
}

#calendar td:hover,
#calendar td.today.booked:hover {
    background-color: #81d7ff;
}

#calendar td:active,
#calendar td.today.booked:active {
    background-color: #3ec893;
}

.nonCurrentDays {
    color: #949494;
}

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup-box {
    background: aliceblue;
    padding: 24px;
    border-radius: 12px;
    width: 50%;
    text-align: center;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeIn 0.5s ease-out forwards;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    text-align: left;
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}

.overlay-container.show {
    display: flex;
    opacity: 1;
}

.btn-submit,
.btn-close-popup {
    padding: 12px 24px;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-submit {
    background-color: #3cff66;
}

.btn-close-popup {
    margin-top: 12px;
    background-color: #ff6c69;
}

.btn-submit:hover,
.btn-close-popup:hover {
    background-color: #3ec893;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}